/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*partendo dal mobile si considera una width totale di 480px*/
.container{
    width: 445px;
    margin: 0 auto;
}

/*flex-items*/
.flex{
    display: flex;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

/*header*/
header{
    height: 4rem;
    background-color: rgb(0, 132, 253);
}

header .container{
    height: 100%;
}